@import "tailwindcss";

/* dark: sınıfları .dark class'ına bağla (Tailwind v4) */
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}


.invisible-scrollbar {
  -ms-overflow-style: none;   
  scrollbar-width: none;      
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;           
}